body{
    margin: 0;
    padding: 0;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

header{
    text-align: right;
    width: 100%;
    height: 60px;
    background: #abdad1;
    box-shadow: 0 2px 5px #555555;
}

.fa-circle-chevron-right{
    margin-top: 13px;
    margin-right: 40px;
    font-size: 35px;
    color: #FAEEC6;
}

.newshedule{
    margin-top: 60px;
}

.newshedule-titl{
    margin: 0 auto;
    width: 8em;
    left: 40px;
    color: #535353;
    font-size: 20px;
    border-bottom: 1px solid #535353;
}


.title , .message{
    border-bottom: 1px solid #D9D9D9;
    width: 310px;
    height: 30px;
    margin: 0 auto;
    padding-top: 30px;;
}

.acct input{
    font-size: 17px;
    height: 17px;
}

.acct .date{
    background: #D9D9D9;
    padding: 8px 10px 8px 10px;
    border-radius: 10px;
    margin: 20px 0;
}

.acct p ::placeholder{
    color: #D9D9D9;
}

.acct .date{
    margin-top: 40px;
    margin-left: 40px;
}

.drop-down{
    width: 5em;
    margin-top: 20px;
    margin-left: 40px;
    background: #D9D9D9;
    padding: 2px 10px 2px 10px;
    border-radius: 10px;
}

.acct .time{
    margin-top: 8px;
    background: #D9D9D9;
    padding: 6px 10px 6px 10px;
    border-radius: 10px;
}

.timeset{
    display: flex;
    border-bottom: 1px solid #D9D9D9;
    width: 310px;
    height: 45px;
    text-align: center;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 40px;
}

.save-btn{
    text-align: center;
    width: 130px;
    height: 35px;
    margin: 70px auto;
}

.save-btn a{
    color: #fff;
    text-decoration: none;
    background: #F4A460;
    font-size: 14px;
    border-radius: 10px;
    padding: 8px 51px;
}